DB_HOST=db_kbc
DB_USER=root
DB_PASSWORD=password
DB_NAME=bankdb
DB_PORT=3306

TEAM_NAME=Bank KBC
TEAM_BIC=BANKKBC1
TEAM_MEMBERS=student3,student4
DEFAULT_COUNTERPARTY_NAME=Bank IUS
DEFAULT_COUNTERPARTY_BIC=BANKIUS1
DEFAULT_COUNTERPARTY_URL=http://bankius_app
DEFAULT_COUNTERPARTY_IBAN=BE12000123456789
